@import './base/_reset.styl'
@import './base/_themes.styl'
@import './base/_fun.styl'
@import './base/_flex.styl'

@import './framework/page.styl'  
@import './component/cell.styl'

.hljs, code 
  font-family: 'Source Code Pro', monospace;
